<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qick Test SCC</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- <link  rel="stylesheet" href="/css/toastr.css"/> -->
    <link href="/assets/toastr.min.css" rel="stylesheet" />
  
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg></script>
    <link rel="stylesheet" href="/css/reponsive.css">
    <link rel="stylesheet" href="/fonts/themify-icons.css">
    
</head>
<body>

    <div class="main">
    <!-- start Header -->
    <div id="header" class="header">
        <nav id="nav" class="nav">
            <img src="/image/Logo-SCC.png" class="heading-logo" alt="">
            <div id class="top-nav">
                        <a href="/employees/home" class="active">Home</a>
                        <a href="#" >About us</a>            
                        <a href="/employees/" >Quiz</a>
                        <div class="user-dropdown">
                            <i class="far fa-user"></i>
                            <div class="dropdown-content">
                                <a class="sign-in" href="/users/sign-in">SignIn</a><br>
                                <a href="/users/sign-up">SignUp</a>
                            </div>
                        </div>
                   
             </div>
             
            <i id="mobile-menu" class="fas fa-bars btn-menu"></i>
        </div>
           
            </div>
        </nav>
    </div>