 <%-include("../../dashboard/patials/header.ejs")%>
 <%-include("../../dashboard/patials/sitebar.ejs")%>
 <div class="user-manager">
            <table>
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>User</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Nguyen Quan</td>
                        <td>NguyenHong Quan</td>
                        <td>1234</td>
                        <td>
                            <button class="btn-remove">remove</button>
                            <button class="btn-edit">edit</button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Nguyen Quan</td>
                        <td>NguyenHong Quan</td>
                        <td>1234</td>
                        <td>
                            <button class="btn-remove">remove</button>
                            <button class="btn-edit">edit</button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Nguyen Quan</td>
                        <td>NguyenHong Quan</td>
                        <td>1234</td>
                        <td>
                            <button class="btn-remove">remove</button>
                            <button class="btn-edit">edit</button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Nguyen Quan</td>
                        <td>NguyenHong Quan</td>
                        <td>1234</td>
                        <td>
                            <button class="btn-remove">remove</button>
                            <button class="btn-edit">edit</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
<%-include("../../dashboard/patials/footer.ejs")%>