<%-include("../../dashboard/patials/header.ejs")%>
<%-include("../../dashboard/patials/sitebar.ejs")%>
<div class="user-manager">
           <table>
               <thead>
                   <tr>
                       <th>Number</th>
                       <th>Exam_Id</th>
                       <th>Exam Name</th>
                       <th></th>
                   </tr>
               </thead>
               <tbody>
                   <tr>
                       <td>1</td>
                       <td>Nguyen Quan</td>
                       <td>NguyenHong Quan</td>
                       
                       <td>
                           <button class="btn-remove">remove</button>
                           <button class="btn-edit">edit</button>
                       </td>
                   </tr>
                   <tr>
                       <td>1</td>
                       <td>This is first one</td>
                       <td>This is description question</td>
                     
                       <td>
                           <button class="btn-remove">remove</button>
                           <button class="btn-edit">edit</button>
                       </td>
                   </tr>
                   <tr>
                       <td>1</td>
                       <td>Nguyen Quan</td>
                       <td>NguyenHong Quan</td>
                       
                       <td>
                           <button class="btn-remove">remove</button>
                           <button class="btn-edit">edit</button>
                       </td>
                   </tr>
                   <tr>
                       <td>1</td>
                       <td>Nguyen Quan</td>
                       <td>NguyenHong Quan</td>
                       
                       <td>
                           <button class="btn-remove">remove</button>
                           <button class="btn-edit">edit</button>
                       </td>
                   </tr>

               </tbody>
           </table>
       </div>
<%-include("../../dashboard/patials/footer.ejs")%>