<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard/style.css">
    <title>Document</title>
    <link href="/assets/toastr.min.css" rel="stylesheet" />
  
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg></script>
    <link rel="stylesheet" href="/css/reponsive.css">
    <link rel="stylesheet" href="/fonts/themify-icons.css">
</head>
<body>
   <div class="main">
        <div class="header">
            <div class="nav">
                <img src="/image/Logo-SCC.png" alt="" class="scc_image">
                <h2 class="dashboard1">Board</h2><h2 class="dashboard">Dash </h2>
            </div>
        </div>
        
       
