
<div class="nav-bar">
    <ul class="manager">
        <li class="item"><a href="/admin">User Manager</a></li>
        <li class="item"><a href="/admin/manager-quiz">Quiz Manager</a></li>
        <li class="item maneger__question"><a href="">Quesstion Manager</a></li>
        <ul class="item-question-maneger">
            <li>hello hello</li>
            <li>hello hello</li>
            <li>hello hello</li>
        </ul>
        <li class="item"><a href="">User Manager</a></li>
        <li class="item"><a href="">User Manager</a></li>
    </ul>
    
</div>